<div mat-dialog-content>Ingresa los datos:</div>
<form [formGroup]="formValue" (ngSubmit)="boton()" >

  <mat-form-field appearance="fill">
    <mat-label>id</mat-label>
    <input matInput type="number" formControlName="id"/>
  </mat-form-field>

  <mat-form-field appearance="fill" style="margin-left: 1rem">
    <mat-label>name</mat-label>
    <input matInput formControlName="name"/>
  </mat-form-field>
<br>
  <mat-form-field appearance="fill" >
    <mat-label>modelo</mat-label>
    <input type="number" matInput formControlName="modelo"/>
  </mat-form-field>

  <mat-form-field appearance="fill" style="margin-left: 1rem">
    <mat-label>marca</mat-label>
    <input matInput formControlName="marca"/>
  </mat-form-field>
<br>
  <mat-form-field appearance="fill">
    <mat-label>description</mat-label>
    <input matInput formControlName="description"/>
  </mat-form-field>

  <mat-form-field appearance="fill" style="margin-left: 1rem"> 
    <mat-label>photoUrl</mat-label>
    <input matInput formControlName="photoUrl"/>
  </mat-form-field>
<br>
  <mat-form-field appearance="fill">
    <mat-label>price</mat-label>
    <input type="number" matInput formControlName="price"/>
  </mat-form-field>
<br>
  <button id="btnSubmit" mat-raised-button color="primary" type="submit" >Guardar</button>
</form>




