h1 {
  margin-top: 20px;
  margin-left: 20px;
}

.card {
  max-width: 400px;
  margin-top: 20px;
  margin-left: 20px;
  padding-bottom: 6px;
}

.card{
  display: flex;
  width: 30rem;
}

.image{
  max-width: 450px;
}